<!DOCTYPE html>

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact " dir="ltr"
    data-theme="theme-default" data-assets-path="/static/assets/" data-template="vertical-menu-template">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Driver Details</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/favicon.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
        rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="/static/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="/static/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="/static/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/static/assets/vendor/css/rtl/theme-default.css"
        class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/static/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/static/assets/vendor/libs/typeahead-js/typeahead.css" />
    <!-- Helpers -->
    <script src="/static/assets/vendor/js/helpers.js"></script>
    <script src="/static/assets/js/config.js"></script>

</head>

<body>

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar  ">
        <div class="layout-container">
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo ">
                    <a href="/dashboard" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <img src="/static/favicon.png" height="30">
                        </span>
                        <span class="app-brand-text demo menu-text fw-bold ms-2" style="color: black;">uickoo</span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                        <i class="bx menu-toggle-icon d-none d-xl-block fs-4 align-middle"></i>
                        <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
                    </a>
                </div>


                <div class="menu-divider mt-0  ">
                </div>

                <div class="menu-inner-shadow"></div>
                <ul class="menu-inner py-1">
                    <li class="menu-header small text-uppercase"><span class="menu-header-text"
                            data-i18n="Apps & Data">Apps &amp; Data</span></li>
                    <li class="menu-item">
                        <a href="/dashboard" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Dashboard">Dashboard</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/vendor_details" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-user-check"></i>
                            <div data-i18n="Vender Details">Vender Details</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/booking_details" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-calendar"></i>
                            <div data-i18n="Booking Details">Booking Details</div>
                        </a>
                    </li>
                    <li class="menu-item active">
                        <a href="/driver_details" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-user"></i>
                            <div data-i18n="Driver Details">Driver Details</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/invoice_details" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-food-menu"></i>
                            <div data-i18n="Invoice Details">Invoice Details</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/setting" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-cog"></i>
                            <div data-i18n="Settings">Settings</div>
                        </a>
                    </li>
                </ul>
            </aside>
            <div class="layout-page">
                <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme"
                    id="layout-navbar">
                    <div class="container-xxl">
                        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0   d-xl-none ">
                            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                                <i class="bx bx-menu bx-sm"></i>
                            </a>
                        </div>
                        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                            <ul class="navbar-nav flex-row align-items-center ms-auto">
                                <!-- User -->
                                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                        data-bs-toggle="dropdown">
                                        <div class="avatar avatar-online">
                                            <img src="/static/assets/img/avatars/1.png" alt class="rounded-circle">
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="pages-account-settings-account.html">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar avatar-online">
                                                            <img src="/static/assets/img/avatars/1.png" alt
                                                                class="rounded-circle">
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <span class="fw-medium d-block lh-1">Quickoo</span>
                                                        <small>Superadmin</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/logout" target="_blank">
                                                <i class="bx bx-power-off me-2"></i>
                                                <span class="align-middle">Log Out</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <!--/ User -->


                            </ul>
                        </div>
                        <!-- Search Small Screens -->
                        <div class="navbar-search-wrapper search-input-wrapper container-xxl d-none">
                            <input type="text" class="form-control search-input border-0" placeholder="Search..."
                                aria-label="Search...">
                            <i class="bx bx-x bx-sm search-toggler cursor-pointer"></i>
                        </div>
                    </div>
                </nav>
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="card">
                            <div class="card-header" style="margin-bottom: 20px;">
                                <h5 style="float: inline-start; font-size: 24px; padding-top: 10px;">Driver Details
                                </h5>
                                <button type="button" style="float: inline-end;" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#adddriver"> Add Driver </button>
                            </div>
                            <div class="card-body">
                                {% if is_data %}
                                <div class="table-responsive text-nowrap" style="height: 440px; overflow-y: auto;">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="text-nowrap">
                                                <th>ID</th>
                                                <th>Driver Name</th>
                                                <th>Photo</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>PCO licence number</th>
                                                <th>National insurance number</th>
                                                <th>PCO vehicle licence</th>
                                                <th>Car register number</th>
                                                <th>PCO Expire date</th>
                                                <th>PCO Vehicle Expire date</th>
                                                <th>Driving Licence</th>
                                                <th>Insurance certificate url</th>
                                                <th>Vehicle Photos</th>
                                                <th>Assigned</th>
                                                <th>Created At</th>
                                                <th>Updated At</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-border-bottom-0">
                                            {% for data in all_data %}
                                            <tr>
                                                <th scope="row">{{data["id"]}}</th>
                                                <td>{{data["drivername"]}}</td>
                                                <td><a href='{{data["photo"]}}'><img src='{{data["photo"]}}' width="80" height="80" style="border-radius: 50%;"></img></a></td>
                                                <td>{{data["email"]}}</td>
                                                <td>{{data["phone"]}}</td>
                                                <td><a href='{{data["pco_licence_number"]}}'><img src='{{data["pco_licence_number"]}}' width="80" height="80" style="border-radius: 50%;"></img></a></td>
                                                <td>{{data["national_insurance_number"]}}</td>
                                                <td><a href='{{data["pco_vehicle_licence"]}}'><img src='{{data["pco_vehicle_licence"]}}' width="80" height="80" style="border-radius: 50%;"></img></a></td>
                                                <td>{{data["car_register_number"]}}</td>
                                                <td>{{data["pco_expire_date"]}}</td>
                                                <td>{{data["pco_vehicle_expire_date"]}}</td>
                                                <td><a href='{{data["driving_licence_url"]}}'><img src='{{data["driving_licence_url"]}}' width="80" height="80" style="border-radius: 50%;"></img></a></td>
                                                <td><a href='{{data["insurance_certificate_url"]}}'><img src='{{data["insurance_certificate_url"]}}' width="80" height="80" style="border-radius: 50%;"></img></a></td>
                                                <td>
                                                    <div class="vehicle-images" style="display: inline-flex;">
                                                        {% for vehicle_url in data["vehicle_photos_urls"] %}
                                                        <a href='{{vehicle_url}}'><img src='{{ vehicle_url }}' width="80" height="80" style="border-radius: 50%; margin-right: 10px;"></img></a>
                                                        {% endfor %}
                                                    </div>
                                                <td>{{data["is_assign"]}}</td>
                                                <td>{{data["created_at"]}}</td>
                                                <td>{{data["updated_at"]}}</td>
                                                <td>
                                                    <div class="button-group" style="display: inline-flex;">
                                                        <div class="dropdown" style="margin-right: 10px;">
                                                            <button
                                                                class="btn {{ status_mapping[data.status].color }} dropdown-toggle"
                                                                type="button" data-bs-toggle="dropdown">
                                                                {{ data.status.replace('_', ' ').title() }}
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                {% for status in status_mapping[data.status].status_list
                                                                %}
                                                                <li>
                                                                    <a class="dropdown-item"
                                                                        href="/driver-status-update?uid={{ data.id }}&status={{ status_mapping[data.status].status }}">
                                                                        {{ status.replace('_', ' ').title() }}
                                                                    </a>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                        <button class="btn btn-sm btn-warning edit-driver-btn"
                                                            data-bs-toggle="modal" data-bs-target="#editdriver"
                                                           data-id="{{ data.id }}"
                                                           data-drivername="{{ data.drivername }}"
                                                           data-email="{{data.email}}"
                                                           data-phone="{{data.phone}}"
                                                           data-pco_licence_number="{{data.pco_licence_number}}"
                                                           data-national_insurance_number="{{data.national_insurance_number}}"
                                                           data-pco_vehicle_licence="{{data.pco_vehicle_licence}}"
                                                           data-car_register_number="{{data.car_register_number}}">
                                                            <i class="menu-icon tf-icons bx bx-edit"></i>Edit
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% else %}
                                <div class="row" style="height: 440px;">
                                    <div class="col-sm-1 col-12 mb-4"></div>
                                    <div class="col-sm-10 col-12 mb-4">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h2 class="mb-1">Add Data</h2>
                                                <span class="text-muted">We don't have any Driver data</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-12 mb-4"></div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <!--/ Responsive Table -->

                    </div>
                    <!-- / Content -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>



        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>


        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
        <div class="drag-target"></div>
        <!-- / Layout wrapper -->
        <div class="modal fade" id="adddriver" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-simple modal-add-driver">
                <div class="modal-content p-3 p-md-5">
                    <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="text-center mb-4">
                            <h3>Add Driver</h3>
                            <p>Add Driver details will receive a data</p>
                        </div>
                        <form method="POST" action="/add-driver" enctype="multipart/form-data" class="row g-3">
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="drivername">Driver Name <span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="text" id="drivername" name="drivername" class="form-control"
                                    placeholder="Enter driver name" required />
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalEditUserPhone">Phone Number <span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text">+44</span>
                                    <input type="text" id="phone" name="phone" class="form-control phone-number-mask"
                                        placeholder="202 555 0111" required />
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="email">Email <span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="text" id="email" name="email" class="form-control"
                                    placeholder="example@domain.com" required />
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="national_insurance_number">National insurance number<span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="text" id="national_insurance_number" name="national_insurance_number" class="form-control"
                                    placeholder="Enter national insurance number" required />
                            </div>
                            <div class="col-12 col-md-12">
                                <label class="form-label" for="pco_licence_number">PCO licence<span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="file" id="pco_licence_number" name="pco_licence_number" accept=".jpg, .jpeg, .png, .webp" class="form-control" required />
                            </div>
                            <div class="col-12 col-md-12">
                                <label class="form-label" for="pco_expire_date">PCO Licence Expire Date<span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="date" id="pco_expire_date" name="pco_expire_date" class="form-control" required />
                            </div>
                            <div class="col-12 col-md-12">
                                <label class="form-label" for="pco_vehicle_licence">PCO vehicle licence<span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="file" id="pco_vehicle_licence" name="pco_vehicle_licence" accept=".jpg, .jpeg, .png, .webp" class="form-control" required />
                            </div>
                            <div class="col-12 col-md-12">
                                <label class="form-label" for="pco_vehicle_expire_date">PCO Vehicle Licence Expire Date<span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="date" id="pco_vehicle_expire_date" name="pco_vehicle_expire_date" class="form-control" required />
                            </div>
                            <div class="col-12 col-md-12">
                                <label class="form-label" for="car_register_number">Car register number<span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="text" id="car_register_number" name="car_register_number" class="form-control"
                                    placeholder="Enter car register number" required />
                            </div>
                            <div class="col-12 col-md-12">
                                <label class="form-label" for="driver_photo">Driver Photo<span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="file" id="driver_photo" name="driver_photo" accept=".jpg, .jpeg, .png, .webp" class="form-control" required />
                            </div>
                            <div class="col-12 col-md-12">
                                <label class="form-label" for="driving_licence">Driving Licence<span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="file" id="driving_licence" name="driving_licence" accept=".jpg, .jpeg, .png, .webp" class="form-control" required />
                            </div>
                            <div class="col-12 col-md-12">
                                <label class="form-label" for="insurance_certificate">Insurance Certificate<span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="file" id="insurance_certificate" name="insurance_certificate" accept=".jpg, .jpeg, .png, .webp" class="form-control" required />
                            </div>
                            <div class="col-12 col-md-12">
                                <label class="form-label" for="vehicle_photos">Vehicle Photos (Minimum 3 required)<span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="file" id="vehicle_photos" name="vehicle_photos" accept=".jpg, .jpeg, .png, .webp" multiple class="form-control" required />
                            </div>
                            <div class="col-12 text-center mt-4">
                                <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
                                <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal"
                                    aria-label="Close">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editdriver" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-simple modal-edit-driver">
                <div class="modal-content p-3 p-md-5">
                    <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="text-center mb-4">
                            <h3>Edit Driver</h3>
                            <p>Edit Driver details will receive a data</p>
                        </div>
                        <form method="POST" id="driverForm" action="/edit-driver" enctype="multipart/form-data" class="row g-3">
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="editdrivername">Driver Name <span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="text" id="editdrivername" name="drivername" class="form-control"
                                    placeholder="Enter driver name" required />
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="editphone">Phone Number <span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text">+44</span>
                                    <input type="text" id="editphone" name="phone" class="form-control phone-number-mask"
                                        placeholder="202 555 0111" required />
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="editemail">Email <span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="text" id="editemail" name="email" class="form-control"
                                    placeholder="example@domain.com" required />
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="editnational_insurance_number">National insurance number<span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="text" id="editnational_insurance_number" name="national_insurance_number" class="form-control"
                                    placeholder="Enter national insurance number" required />
                            </div>
                            <div class="col-12 col-md-12">
                                <label class="form-label" for="editcar_register_number">Car register number<span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="text" id="editcar_register_number" name="car_register_number" class="form-control"
                                    placeholder="Enter car register number" required />
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="editpco_expire_date">PCO Expire Date<span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="date" id="editpco_expire_date" name="pco_expire_date" class="form-control" />
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="editpco_vehicle_expire_date">PCO Vehicle Expire Date<span
                                        style="color: red; font-size: 18px;">*</span></label>
                                <input type="date" id="editpco_vehicle_expire_date" name="pco_vehicle_expire_date" class="form-control" />
                            </div>
                            <div class="col-12 text-center mt-4">
                                <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
                                <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal"
                                    aria-label="Close">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="position-fixed top-0 end-0 p-3" style="z-index: 1090">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="toast align-items-center text-bg-{{ category if category else 'primary' }} border-0 show"
            role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
            <div class="d-flex">
                <div class="toast-body">
                    {{ message }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <!-- build:js assets/vendor/js/core.js -->

    <script>
        document.querySelectorAll('.form-password-toggle .input-group-text').forEach(toggle => {
            toggle.addEventListener('click', () => {
                const input = toggle.parentElement.querySelector('input');
                const icon = toggle.querySelector('i');

                if (input.type === 'password') {
                    input.type = 'text';
                    icon.classList.remove('bx-hide');
                    icon.classList.add('bx-show');
                } else {
                    input.type = 'password';
                    icon.classList.remove('bx-show');
                    icon.classList.add('bx-hide');
                }
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            const editButtons = document.querySelectorAll(".edit-driver-btn");
            const form = document.getElementById("driverForm");

            editButtons.forEach(button => {
                button.addEventListener("click", () => {
                    var name = button.getAttribute("data-name");
                    var drivername = button.getAttribute("data-drivername");
                    var email = button.getAttribute("data-email");
                    var phone = button.getAttribute("data-phone").replace("+44", "");
                    var national_insurance_number = button.getAttribute("data-national_insurance_number");
                    var car_register_number = button.getAttribute("data-car_register_number");
                    var id = button.getAttribute("data-id");

                    // Populate modal form
                    document.getElementById("editdrivername").value = drivername;
                    document.getElementById("editemail").value = email;
                    document.getElementById("editphone").value = phone;
                    document.getElementById("editnational_insurance_number").value = national_insurance_number;
                    document.getElementById("editcar_register_number").value = car_register_number;

                    // Change form action
                    form.action = `/edit-driver?id=${id}`;
                });
            });
        });
    </script>


    <script src="/static/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/static/assets/vendor/libs/popper/popper.js"></script>
    <script src="/static/assets/vendor/js/bootstrap.js"></script>
    <script src="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/static/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="/static/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="/static/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="/static/assets/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->



    <!-- Main JS -->
    <script src="/static/assets/js/main.js"></script>
</body>

</html>